// Colors
$primary-color: #8552e4;
$primary-color-light: #f3edff;
$primary-color-hover: #7132e5;
$primary-color-shadow: rgba(133, 82, 228, 0.3);
$text-color-light: #999;
$text-color-dark: #333;
$title-color-dark: #555;
$background-color: #fff;
$border-color: #ccc;
$box-shadow-color: rgba(0, 0, 0, 0.1);
